logs
*.log
node_modules/
.env.local
.next
.zenstack_repl*
zmodel/lib/hooks
zmodel/lib/forms
generated
.env
zmodel/prisma/schema.prisma
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tsconfig.tsbuildinfo
dist
public/fallback-development.js
public/sw.js
public/sw.js.map
public/workbox-e43f5367.js
public/workbox-e43f5367.js.map
